#caracteristicas {
  padding-top: 80px;
  #title {
    margin-bottom: 20px;
  }
  #contentContainer {
    display: flex;
    justify-content: space-between;
  }
  #caracteristicasContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    margin-right: 80px;
  }
  .caracteristicaContainer {
    display: flex;
    align-items: flex-end;
  }
  .caracteristicaIcon {
    color: green;
    margin-right: 10px;
  }
}
